<component name="libraryTable">
  <library name="spring-data-elasticsearch-4.0.5.RELEASE">
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/data/spring-data-elasticsearch/4.0.5.RELEASE/spring-data-elasticsearch-4.0.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>